@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Crete+Round|Francois+One|Passion+One');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:700');
@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 12.5px !important;
    letter-spacing: 1.5px;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}


header.masthead {
    text-align: center;
    color: white;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    padding-bottom: 50px;
}

. icon-bar{
    color:white !important;
    background-color: white !important;
}

#section-wrap {
    text-align: center;
    background-color: white;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 20px;
    min-height: 680px !important
}

/*** Forms ***/

#form-sign-up {
    text-align: center;
    background-color: white;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 20px;
    min-height: 680px !important
}

.search{
    margin-top: 60px !important;
}

.cellphone{
    max-height: 150px;
    max-width: 490px;
    overflow-x: hidden;
    overflow-y: scroll;
    cursor: pointer;
}

.form-group{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px !important;
}

.swButton {
    padding: 15px 50px 15px 50px;
    background-color: black;
    border: none;
    text-decoration: none !important;
    font-size: 95%;
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
    margin: 1% auto 2%;
    display: inline-block;
    color: #FFFFFF;
    -webkit-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -kthtml-transition: all 0.1s linear;
    transition: all 0.1s linear;
    border: 2px solid white;
    padding: 17px;
}

.swButton:hover {
    color: gold;
    border-color: gold;
}


@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }
    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 30px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
}
.option-input:hover {
    background: #9faab7;
}
.option-input:checked {
    background: gold;
}
.option-input:checked::before {
    height: 30px;
    width: 30px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 19px;
    text-align: center;
    line-height: 30px;
}
.option-input:checked::after {
    /*-webkit-animation: click-wave 0.30s;
    -moz-animation: click-wave 0.30s;
    animation: click-wave 0.30s;*/
    background: gold;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}
.option-input {
    border-radius: 50%;
}
.option-input::after {
    border-radius: 50%;
}

/*** Tittles ***/
.header-title{
    font-family: 'Francois One', sans-serif !important;
    font-size: 75px !important;
    color: gold;
}

.small-title{
    margin-top: 20px;
    font-family: 'Francois One', sans-serif !important;
    text-align: center;
    color: gold;
    font-weight: normal;
    font-size: 127% !important;
    line-height: 130%;
    padding: 2% 2% 2% 2%;
}

.header-ask{
    font-size: 18px;
}

/*** Menu ***/

.nav-container {
    color: white;
    font-family: 'PT Sans', sans-serif !important;
    padding: 10px;
    text-align: center !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    letter-spacing: 2.5px;
}
.nav-container a:hover{
    border-bottom: 3px solid gold;
    text-decoration: none;
}

.nav-container a{
    color: #FFFFFF !important;
}
.separator{
    opacity: 0.25;
    padding-left: 16px;
    padding-right: 16px;
}
.icon-bar{
    background-color: gold !important;
}
.navbar-toggle:hover{
    background-color: #8c8c8c !important;
}
.active{
    border-bottom: 3px solid gold;
    text-decoration: none;
}

/*** Error labels ***/
.error{
    color: red;
}

/*** Footer ***/

.footer{
    color:white !important;
}

/************ MEDIA QUERIES ************/

@media screen and (max-width:769px) {
    .header-title{
        font-size: 55px !important;
    }
    .nav-container {
        font-size: 16px;
        padding: 5px;
    }
    .separator{
        opacity: 0.25;
        padding-left: 0px;
        padding-right: 0px;
    }
    .cellphone{
        max-height: 150px;
        max-width: 260px;
        overflow-x: scroll;
        overflow-y: scroll;
        cursor: pointer;
    }
    .option-input:checked::before {
        height: 25px;
        width: 25px;
        position: absolute;
        display: inline-block;
        font-size: 15px;
        line-height: 25px;
    }
    .option-input {
        height: 25px;
        width: 25px;
    }
    .title-2{
        font-size: 22px;
    }
    .xs-text{
        font-size: 11px;
    }
    .xs-header-text{
        font-size: 14px;
    }
}